.main-container-login {
  background-image: linear-gradient(
    to top,   rgba(148, 141, 248, 0.705), white
  );

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
