.userProfile-container {
	height: 220px;
	width: 160px;
  margin: 10px;
  border-radius: 5px;
	padding: 0 0 0 0;
	box-shadow: -0.05em 0 0.9em rgba(173, 35, 253, 0.699);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(37, 37, 37, 0.658);
}

.userprofile-img {
	border-radius: 100px;
	height: 80px;
	width: 80px;
	box-shadow: -0.05em 0 0.9em rgba(95, 3, 95, 0.699);
}

.userProfile-container p {
	font-family: 'Indie Flower';
	font-size: 15px;
	color: white;
}
